.img-circle {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    size:20%;
    background: url('http://www.rdm.co.za/incoming/2016/05/20/jacob-zuma.jpg/ALTERNATES/crop_607x325/Jacob+Zuma.jpg');
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.center-image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
}
.list{
   margin-top: 20px;  
}
.header{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 150%;
}
.user-title p{
    align-items: center;
    text-align: center;
    font-size: 150%;
    color:#00796B
}
