page-page1 {
    .shops {
        background: url('https://sihlemgobozi.files.wordpress.com/2014/04/img_6332.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
    }
    
}